.content-origin {
    all: unset;
    width: 90%; /* Ajusta el ancho al 90% del contenedor padre */
    max-width: 100vw; /* Limita el ancho máximo */
    max-height: 100vh; /* Limita la altura máxima al 80% de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Agrega barra de desplazamiento si el contenido excede el tamaño */
}